/* col.s12.m4.l3 { */
/*   border-color: green; */
/* } */
/*  */
/* div.input-field.col.s6 { */
/*   width: 200px; */
/*   color: black; */
/* } */
/*  */
/* #chat-tab { */
/*   color:  green; */
/*   overflow: scroll; */
/* } */

.nav-wrapper ul li {
  position: inline;
  float: left;
  padding: 5px;
}

.show-slider {
  width: 20%;
  height: 100%;
  background-color: green;
}

div.col.s12.m8.l9{
  bottom: 20px;
  position: absolute;
  right: 20px;
}

a.col.s12.m6.l3 {
  margin: 0;
  display: inline-block;
  width: 114px;
  padding: 0;
}

ul.collection {
  height: 600px;
  width: 300px;
}

.collection .collection-item {
  border-style: solid ;
  border: 1px solid #000;
  height: 600px;
  width: 300px;
  left: 20px;
  margin-top: 30px;
}

ul.row {
  width: 200px;
}


/*#slide-out {
  left: -100%;
  float: left;
  position: relative;
  height: 100%;
  width: 25%;
  transition: all 0.4s ease;
}

#slide-out.show-slider {
	left: 0;
	position: relative;
}
*/

#chatwindow{
    position:relative;
    height:250px; 
}
#messagewindow, #inputcontainer{
    position: absolute;
    left:0;
    right:0;
    border:1px solid #000;

}
#messagewindow{   
    overflow:auto;
    top:0;
    bottom:3em;
}
#inputcontainer{
    display:block;
    bottom:0;
    height:1em;
    padding:.5em;
    margin-top:1em;
}

#inputcontainer > p{
    margin:0;
}

#inputwindow{
    position:relative;
    height:50px;
    bottom: 0; 
}




