body::-webkit-scrollbar { 
  display: none; 
}
.debate-wrapper {
  padding-bottom: 200px;
}
.top-bar {
  position: fixed;
  top: 0px;
  width: 100%;
}
.debate-room {
  margin-left: 20%;
  margin-right: 20%;
  /* max-width: 700px; */
}
.topic {
  font-size: 20px;
  font-style: bold;
  text-align: center;
  padding: 20px;
  color: grey;
}
.creator-point {
  background-color: #41D4CF; 
  /* border-radius: 20px; */
  /* padding: 20px; */
  position: inline;
  float: left;
  max-width: 500px;
  height: auto;
  clear: both;
  color: white;
  word-wrap: break-word;
}
.challenged-point {
  background-color: #EFEFEF;  
  /* border-radius: 20px; */
  /* padding: 20px; */
  position: inline;
  float: right;
  max-width: 500px;
  height: auto;
  clear: both;
  color: dimgrey; 
  word-wrap: break-word;
}
.creator-name {
  float: left;
  color: #41D4CF; 
}
.challenged-name {
  float: right;
  color: dimgrey;  
}
.point {
  clear: both;
}

.debater-names h3:hover {
  color: grey;
  cursor: pointer;
}
.chat-input {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.fade_bottom {
  position: fixed;
  bottom: 0; /* top is also an option */
  width:100%;
  height: 5em; // or anything you want the height to be
  background: -webkit-linear-gradient( /*for webkit based browsers */
  rgba(255, 255, 255, 0) 0%,
  rgba(255, 255, 255, 1) 100%
  );
  background-image: -moz-linear-gradient( /*for firefox*/
  rgba(255, 255, 255, 0) 0%,
  rgba(255, 255, 255, 1) 100%
  );
  background-image: -o-linear-gradient( /*opera browser*/
  rgba(255, 255, 255, 0) 0%,
  rgba(255, 255, 255, 1) 100%
  );
  background-image: linear-gradient(
  rgba(255, 255, 255, 0) 0%,
  rgba(255, 255, 255, 1) 100%
  );
  background-image: -ms-linear-gradient( /*microsoft ie*/
  rgba(255, 255, 255, 0) 0%,
  rgba(255, 255, 255, 1) 100%
  );
}
