
.debate-room {
  margin-left: 100px;
  margin-right: 100px;
  /* max-width: 700px; */
}
.topic {
  font-size: 20px;
  font-style: bold;
  text-align: center;
  padding: 20px;
}
.creator-point {
  background-color: red;
  border-radius: 20px;
  padding: 20px;
  position: inline;
  float: left;
  max-width: 500px;
  clear: both;
}
.challenged-point {
  background-color: grey;
  border-radius: 20px;
  padding: 20px;
  position: inline;
  float: right;
  max-width: 500px;
  clear: both;
}
.creator-name {
  float: left;
  color: red;
}
.challenged-name {
  float: right;
  color: grey;
}
.point {
  clear: both;
}

div.col.s12.m8.l9{

bottom: 20px;
position: absolute;
right: 20px;


}



ul.collection {

height: 600px;
width: 300px;


}



.collection .collection-item {


border-style: solid ;
border: 1px solid #000;
height: 600px;
width: 300px;
left: 20px;
margin-top: 30px;


}
