.debate-room {
  
  margin: 135px 13% 10px;
  /* max-width: 700px; */
}

@media screen and (max-width: 768px) {
  .debate-room {
    margin: 135px 5%;
  }
}
.topic {
  font-size: 20px;
  font-style: bold;
  text-align: center;
  padding: 20px;
  color: grey;
}

.debater-point{
  position: inline;
  max-width: 70%;
  height: auto;
  clear: both;
  word-wrap: break-word;
}

.creator-point {
  background-color: #41D4CF; 
  float: left;
  color: white;
}
.challenged-point {
  background-color: #EFEFEF;  
  color: dimgrey; 
  float: right;
}
.creator-name {
  float: left;
  color: #41D4CF; 
}
.challenged-name {
  float: right;
  color: dimgrey;  
}
.point {
  clear: both;
}

.debater-names h3:hover {
  color: grey;
  cursor: pointer;
}

